
<!DOCTYPE html>

<html lang="en">

    <head>


        <title>C$50 Finance: 
    Register!
</title>

    </head>

    <body>

        <div class="container">

            <main>
This contract is an agreement between {Renter}, who will be renting a house from {Owner}, who owns the house being rented. 
This arrangement will begin on {date} and will end on {date}. The rent for this house will be {rent}. 
This amount must be paid on {date} every month. Late payments will incur a fee of {fee}. 
A deposit in the amount of {deposit} will be held for the duration of the lease and will be returned to the renter within one month after the keys are surrendered. 
The major rules regarding this house are as follows: {house rental rules, concerning pets, smoking, and other major violations}. 
By signing this agreement, the renter acknowledges that a complete list of these rules has been provided to him or her, and that the renter has read and understood these rules.
<br>
<div><h4><b>Additional Terms</b></h4></div>
<div>ADDITIONAL_TERMS_VAR</div>
<br><br>
<div>LEASEE_ONE_VAR</div>
<div style="border-top-style:solid; width:20%">Leasee 1 - This guy</div>

<br><br><br>
<div>LEASEE_TWO_VAR</div>
<div style="border-top-style:solid; width:20%">Leasee 2 - That guy</div>
            </main>
            
        </div>

    </body>
</html>